<app-header></app-header>
  <app-cat-menu></app-cat-menu>
<div class="bodyy">  
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <section class="home">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="owl-carousel owl-theme slide owl-loaded owl-drag" id="featured">
                  <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1500px, 0px, 0px); transition: all 0s ease 0s; width: 6000px;">
                      
                      <div class="owl-item cloned" style="width: 750px;">
                        <div class="item">
                          <article class="featured">
                            <div class="overlay"></div>
                            <figure style="background-size: cover; background-repeat: no-repeat; background-position: center center;">

                            </figure>
                            <div class="details">
                              <div class="category"><a href="category.html">Computer</a></div>
                              <h1><a href="single.html">Phasellus iaculis quam sed est elementum vel ornare ligula
                                  venenatis</a></h1>
                              <div class="time">December 26, 2016</div>
                            </div>
                          </article>
                        </div>
                      </div>
                      <div class="owl-item" style="width: 750px;">
                        <div class="item">
                          <article class="featured">
                            <div class="overlay"></div>
                            <figure style="background-size: cover; background-repeat: no-repeat; background-position: center center;">

                            </figure>
                            <div class="details">
                              <div class="category"><a href="category.html">Travel</a></div>
                              <h1><a href="single.html">Class aptent taciti sociosqu ad litora torquent per conubia
                                  nostra</a></h1>
                              <div class="time">December 10, 2016</div>
                            </div>
                          </article>
                        </div>
                      </div>
                      <div class="owl-item" style="width: 750px;">
                        <div class="item" *ngIf="itemHot.isNull != true">
                          <a  href="/newsdetail/{{itemHot.id}}" >
                           
                          <article class="featured" style="height: 500px;">
                            <div class="overlay"></div>
                            <figure  style="background-size: cover; background-repeat: no-repeat; background-position: center center;">
                              <img [src]="itemHot.image" alt="Sample Article">
                            </figure>
                            <div class="details">
                              <div class="category" *ngFor="let catItem of catItemchinh">
                                <a >{{catItem.catName}}</a>
                              </div>
                              <h1 ><a href="/newsdetail/{{itemHot.id}}">{{itemHot.title}}</a></h1>
                              <div class="time">{{itemHot.dateUpdated | date : "dd/MM/yyyy"}}</div>
                            </div>
                          </article>
                        </a>
                        </div>
                      </div>
                     
                    </div>
                  </div>
                  <div class="owl-nav disabled">
                    <div class="owl-prev">prev</div>
                    <div class="owl-next">next</div>
                  </div>
                  <div class="owl-dots disabled"></div>
                </div>
                <div class="line">
                  <div>Tin tuần trước</div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                      <article class="article col-md-12">
                        <div class="inner" *ngIf="itemLast1.isNull == false">
                          <figure>
                            <a href="/newsdetail/{{itemLast1.id}}">
                              <img [src]="itemLast1.image" alt="Sample Article">
                            </a>
                          </figure>
                          <div class="padding">
                            <div class="detail">
                              <div class="time">{{itemLast1.dateUpdated | date : "dd/MM/yyyy"}}</div>                             
                            </div>
                            <h2><a (click)="onGotoNewDetail(itemLast1.id)">{{itemLast1.title}}</a></h2>
                            <p>{{itemLast1.shortDesc}}</p>
                            <footer>
                              <a  class="love"><i class="ion-android-favorite-outline"></i>
                                <div>{{itemLast1.likes}}</div>
                              </a>
                              <a class="btn btn-primary more" href="/newsdetail/{{itemLast1.id}}">
                                <div>More</div>
                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                              </a>
                            </footer>
                          </div>
                        </div>
                      </article>
                      <article class="article col-md-12">
                        <div class="inner" *ngIf="itemLast2.isNull == false">
                          <figure>
                            <a href="/newsdetail/{{itemLast2.id}}">
                              <img [src]="itemLast2.image" alt="Sample Article">
                            </a>
                          </figure>
                          <div class="padding">
                            <div class="detail">
                              <div class="time">{{itemLast2.dateUpdated | date : "dd/MM/yyyy"}}</div>                              
                            </div>
                            <h2><a href="/newsdetail/{{itemLast2.id}}">{{itemLast2.title}}</a></h2>
                            <p>{{itemLast2.shortDesc}}</p>
                            <footer>
                              <a  class="love"><i class="ion-android-favorite-outline"></i>
                                <div>{{itemLast2.likes}}</div>
                              </a>
                              <a class="btn btn-primary more" href="/newsdetail/{{itemLast2.id}}">
                                <div>More</div>
                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                              </a>
                            </footer>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                      <article class="article col-md-12">
                        <div class="inner" *ngIf="itemLast3.isNull == false">
                          <figure>
                            <a href="/newsdetail/{{itemLast3.id}}">
                              <img [src]="itemLast3.image" alt="Sample Article">
                            </a>
                          </figure>
                          <div class="padding">
                            <div class="detail">
                              <div class="time">{{itemLast3.dateUpdated | date : "dd/MM/yyyy"}}</div>
                             
                            </div>
                            <h2><a href="/newsdetail/{{itemLast3.id}}">{{itemLast3.title}}</a></h2>
                            <p>{{itemLast3.shortDesc}}</p>
                            <footer>
                              <a class="love"><i class="ion-android-favorite-outline"></i>
                                <div>{{itemLast3.likes}}</div>
                              </a>
                              <a class="btn btn-primary more" href="/newsdetail/{{itemLast3.id}}">
                                <div>More</div>
                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                              </a>
                            </footer>
                          </div>
                        </div>
                      </article>
                      <article class="article col-md-12">
                        <div class="inner" *ngIf="itemLast4.isNull == false">
                          <figure>
                            <a href="/newsdetail/{{itemLast4.id}}">
                              <img [src]="itemLast4.image" alt="Sample Article">
                            </a>
                          </figure>
                          <div class="padding">
                            <div class="detail">
                              <div class="time">{{itemLast4.dateUpdated | date : "dd/MM/yyyy"}}</div>
                              
                            </div>
                            <h2><a href="/newsdetail/{{itemLast4.id}}">{{itemLast4.title}}</a></h2>
                            <p>{{itemLast4.shortDesc}}</p>
                            <footer>
                              <a class="love"><i class="ion-android-favorite-outline"></i>
                                <div>{{itemLast4.likes}}</div>
                              </a>
                              <a class="btn btn-primary more" href="/newsdetail/{{itemLast4.id}}">
                                <div>More</div>
                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                              </a>
                            </footer>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
                <div class="line transparent little"></div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 trending-tags">
                    <h1 class="title-col">Xu hướng</h1>
                    <div class="body-col">
                      <ol class="tags-list">
                        <li><a >Champion League</a></li>
                        <li><a >Thời sự</a></li>
                        <li><a >Giải trí</a></li>
                        <li><a >Pháp luật</a></li>
                        <li><a >Giáo dục</a></li>
                        <li><a >Sức khỏe</a></li>
                        <li><a >Du lịch</a></li>
                        <li><a >Khoa học</a></li>
                        <li><a >Thể Thao</a></li>                       
                      </ol>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <h1 class="title-col">
                     Tin nổi bật
                      
                    </h1>
                    <div class="body-col vertical-slider" data-max="4" data-nav="#hot-news-nav" data-item="article">
                      <div *ngFor="let item of itemLike">
                          <article class="article-mini">
                              <div class="inner">
                                <figure>
                                    <a href="/newsdetail/{{item.id}}">
                                      <img [src]="item.image" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="padding">
                                  <h1><a href="/newsdetail/{{item.id}}">{{item.title}}</a></h1>
                                  <div class="detail">                                    
                                    <div class="time">{{item.dateUpdated | date : "dd/MM/yyyy"}}</div>
                                  </div>
                                </div>
                              </div>
                            </article>
                      </div>
                      
                      <!-- <article class="article-mini">
                        <div class="inner">
                          <figure>
                            <a href="single.html">
                              <img src="/assets/magz-master/images/news/img01.jpg" alt="Sample Article">
                            </a>
                          </figure>
                          <div class="padding">
                            <h1><a href="single.html">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                            <div class="detail">
                              <div class="category"><a href="category.html">Lifestyle</a></div>
                              <div class="time">December 22, 2016</div>
                            </div>
                          </div>
                        </div>
                      </article>
                      <article class="article-mini">
                        <div class="inner">
                          <figure>
                            <a href="single.html">
                              <img src="/assets/magz-master/images/news/img05.jpg" alt="Sample Article">
                            </a>
                          </figure>
                          <div class="padding">
                            <h1><a href="single.html">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                            <div class="detail">
                              <div class="category"><a href="category.html">Lifestyle</a></div>
                              <div class="time">December 22, 2016</div>
                            </div>
                          </div>
                        </div>
                      </article>
                      <article class="article-mini">
                        <div class="inner">
                          <figure>
                            <a href="single.html">
                              <img src="/assets/magz-master/images/news/img02.jpg" alt="Sample Article">
                            </a>
                          </figure>
                          <div class="padding">
                            <h1><a href="single.html">Fusce ullamcorper elit at felis cursus suscipit</a></h1>
                            <div class="detail">
                              <div class="category"><a href="category.html">Travel</a></div>
                              <div class="time">December 21, 2016</div>
                            </div>
                          </div>
                        </div>
                      </article>
                      <article class="article-mini">
                        <div class="inner">
                          <figure>
                            <a href="single.html">
                              <img src="/assets/magz-master/images/news/img13.jpg" alt="Sample Article">
                            </a>
                          </figure>
                          <div class="padding">
                            <h1><a href="single.html">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                            <div class="detail">
                              <div class="category"><a href="category.html">International</a></div>
                              <div class="time">December 20, 2016</div>
                            </div>
                          </div>
                        </div>
                      </article>
                      <article class="article-mini">
                        <div class="inner">
                          <figure>
                            <a href="single.html">
                              <img src="/assets/magz-master/images/news/img08.jpg" alt="Sample Article">
                            </a>
                          </figure>
                          <div class="padding">
                            <h1><a href="single.html">Aliquam et metus convallis tincidunt velit ut rhoncus dolor</a></h1>
                            <div class="detail">
                              <div class="category"><a href="category.html">Computer</a></div>
                              <div class="time">December 19, 2016</div>
                            </div>
                          </div>
                        </div>
                      </article> -->
                    </div>
                  </div>
                </div>
                <div class="line top">
                  <div>Một số tin khác</div>
                </div>
                <div class="row" >
                  <article class="col-md-12 article-list">
                    <div class="inner" *ngIf="itemLast1.isNull == false">
                        <figure>
                            <a href="/newsdetail/{{itemLast1.id}}">
                              <img [src]="itemLast1.image" alt="Sample Article">
                            </a>
                          </figure>
                      <div class="details">
                        <div class="detail">                          
                            <div class="time">{{itemLast1.dateUpdated | date : "dd/MM/yyyy"}}</div> 
                        </div>
                        <h1><a href="/newsdetail/{{itemLast1.id}}">{{itemLast1.title}}</a></h1>
                        <p>{{itemLast1.shortDesc}}</p>
                        <footer>
                          <a  class="love"><i class="ion-android-favorite-outline"></i>
                            <div>{{itemLast1.likes}}</div>
                          </a>
                          <a class="btn btn-primary more" href="/newsdetail/{{itemLast1.id}}">
                            <div>More</div>
                            <div><i class="ion-ios-arrow-thin-right"></i></div>
                          </a>
                        </footer>
                      </div>
                    </div>
                  </article>
                  <article class="col-md-12 article-list">
                      <div class="inner" *ngIf="itemLast2.isNull == false">
                          <figure>
                              <a href="/newsdetail/{{itemLast2.id}}">
                                <img [src]="itemLast2.image" alt="Sample Article">
                              </a>
                            </figure>
                        <div class="details">
                          <div class="detail">                          
                              <div class="time">{{itemLast2.dateUpdated | date : "dd/MM/yyyy"}}</div> 
                          </div>
                          <h1><a (click)="onGotoNewDetail(itemLast2.id)">{{itemLast2.title}}</a></h1>
                          <p>{{itemLast2.shortDesc}}</p>
                          <footer>
                            <a  class="love"><i class="ion-android-favorite-outline"></i>
                              <div>{{itemLast2.likes}}</div>
                            </a>
                            <a class="btn btn-primary more" href="/newsdetail/{{itemLast2.id}}">
                              <div>More</div>
                              <div><i class="ion-ios-arrow-thin-right"></i></div>
                            </a>
                          </footer>
                        </div>
                      </div>
                    </article>
                    <article class="col-md-12 article-list">
                        <div class="inner" *ngIf="itemLast3.isNull == false">
                            <figure>
                                <a href="/newsdetail/{{itemLast3.id}}">
                                  <img [src]="itemLast3.image" alt="Sample Article">
                                </a>
                              </figure>
                          <div class="details">
                            <div class="detail">                          
                                <div class="time">{{itemLast3.dateUpdated | date : "dd/MM/yyyy"}}</div> 
                            </div>
                            <h1><a (click)="onGotoNewDetail(itemLast3.id)">{{itemLast3.title}}</a></h1>
                            <p>{{itemLast3.shortDesc}}</p>
                            <footer>
                              <a class="love"><i class="ion-android-favorite-outline"></i>
                                <div>{{itemLast3.likes}}</div>
                              </a>
                              <a class="btn btn-primary more" href="/newsdetail/{{itemLast3.id}}">
                                <div>More</div>
                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                              </a>
                            </footer>
                          </div>
                        </div>
                      </article>
                      <article class="col-md-12 article-list">
                          <div class="inner" *ngIf="itemLast4.isNull == false">
                              <figure>
                                  <a href="/newsdetail/{{itemLast4.id}}">
                                    <img [src]="itemLast4.image" alt="Sample Article">
                                  </a>
                                </figure>
                            <div class="details">
                              <div class="detail">                          
                                  <div class="time">{{itemLast4.dateUpdated | date : "dd/MM/yyyy"}}</div> 
                              </div>
                              <h1><a (click)="onGotoNewDetail(itemLast4.id)">{{itemLast4.title}}</a></h1>
                              <p>{{itemLast4.shortDesc}}</p>
                              <footer>
                                <a class="love"><i class="ion-android-favorite-outline"></i>
                                  <div>{{itemLast4.likes}}</div>
                                </a>
                                <a class="btn btn-primary more" href="/newsdetail/{{itemLast4.id}}">
                                  <div>More</div>
                                  <div><i class="ion-ios-arrow-thin-right"></i></div>
                                </a>
                              </footer>
                            </div>
                          </div>
                        </article>
                </div>
              </div>
              <div class="col-xs-6 col-md-4 sidebar" id="sidebar">
                <div class="sidebar-title for-tablet">Sidebar</div>
                <aside>
                  <h1 class="aside-title">Phổ biến <a class="all"> </a></h1>
                  <div class="aside-body" *ngFor="let item of itemLike">
                    <article class="article-mini">
                      <div class="inner">
                        <figure>
                          <a href="/newsdetail/{{item.id}}">
                            <img [src]="item.image" alt="Sample Article">
                          </a>
                        </figure>
                        <div class="padding">
                          <h1><a href="/newsdetail/{{item.id}}">{{item.title}}</a></h1>
                        </div>
                      </div>
                    </article>
                   
                  </div>
                </aside>
                <!-- <aside>
                  <div class="aside-body">
                    <form class="newsletter">
                      <div class="icon">
                        <i class="ion-ios-email-outline"></i>
                        <h1>Newsletter</h1>
                      </div>
                      <div class="input-group">
                        <input type="email" class="form-control email" placeholder="Your mail">
                        <div class="input-group-btn">
                          <button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
                        </div>
                      </div>
                      <p>By subscribing you will receive new articles in your email.</p>
                    </form>
                  </div>
                </aside>
                <aside>
                  <h1 class="aside-title">Videos
                    <div class="carousel-nav" id="video-list-nav">
                      <div class="prev"><i class="ion-ios-arrow-left"></i></div>
                      <div class="next"><i class="ion-ios-arrow-right"></i></div>
                    </div>
                  </h1>
                  <div class="aside-body">
                    <ul class="video-list" data-youtube='"carousel":true, "nav": "#video-list-nav"'>
                      <li><a data-youtube-id="SBjQ9tuuTJQ" data-action="magnific"></a></li>
                      <li><a data-youtube-id="9cVJr3eQfXc" data-action="magnific"></a></li>
                      <li><a data-youtube-id="DnGdoEa1tPg" data-action="magnific"></a></li>
                    </ul>
                  </div>
                </aside>
                <aside id="sponsored">
                  <h1 class="aside-title">Sponsored</h1>
                  <div class="aside-body">
                    <ul class="sponsored">
                      <li>
                        <a href="#">
                          <img src="../../assets/magz-master/images/sponsored.png" alt="Sponsored">
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="../../assets/magz-master/images/sponsored.png" alt="Sponsored">
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="../../assets/magz-master/images/sponsored.png" alt="Sponsored">
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="../../assets/magz-master/images/sponsored.png" alt="Sponsored">
                        </a>
                      </li>
                    </ul>
                  </div>
                </aside> -->
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>