<nav
  class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-dark bg-primary navbar-shadow navbar-brand-center">
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i
              class="ft-menu font-large-1"></i></a></li>
        <li class="nav-item">
          <a class="navbar-brand" style="padding: 5px 0px;">
            <img class="brand-logo" alt="the news logo"
              src="/assets/robust-admin/app-assets/images/logo/logo-light-sm.png">
            <h3 class="brand-text">The News</h3>
          </a>
        </li>
        <li class="nav-item d-md-none">
          <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i
              class="fa fa-ellipsis-v"></i></a>
        </li>
      </ul>
    </div>
    <div class="navbar-container">
      <div class="collapse navbar-collapse justify-content-end" id="navbar-mobile">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a class="nav-link mr-2 nav-link-label"></a></li>
          <li class="dropdown nav-item">
            <a class="nav-link mr-2 nav-link-label" data-toggle="dropdown"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="app-content container center-layout mt-2">
  <div class="content-wrapper" style="min-height: 595px">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="col-md-4 offset-md-4 col-8 offset-2 box-shadow-2 p-0">
        <div class="card border-grey border-lighten-3 px-2 py-2 row mb-0">
          <div class="card-header no-border pb-0" style="padding: 0rem">
            <div class="card-title text-center">
              <img class="brand-logo" alt="the news logo"
                src="/assets/robust-admin/app-assets/images/logo/logo-dark-sm.png">
            </div>
            <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
              <span>Đăng nhập với tài khoản</span>
            </h6>
          </div>
          <div class="card-content">
            <div class="text-center">
              <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook">
                <span class="fab fa-facebook"></span>
              </a>
              <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-google">
                <span class="fab fa-google-plus-square"></span>
              </a>
            </div>
            <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-2">
              <span>Hoặc đăng ký tài khoản</span>
            </p>
            <div class="card-body pt-0">
              <form class="form-horizontal" method="POST" (ngSubmit)="register()" [formGroup]="registerForm"
                action="register()">
                <fieldset class="form-group position-relative has-icon-left">
                  <input type="text" class="form-control input-lg" id="firstName" formControlName="firstName"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" name="firstName"
                    [(ngModel)]="user.firstName" placeholder="Họ">
                  <div class="form-control-position" style="margin-top: -3px;">
                    <i class="fa fa-user"></i>
                  </div>
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                  </div>
                </fieldset>
                <fieldset class="form-group position-relative has-icon-left">
                  <input type="text" class="form-control input-lg" id="lastName" [(ngModel)]="user.lastName"
                    formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                    name="lastName" placeholder="Tên">
                  <div class="form-control-position" style="margin-top: -3px;">
                    <i class="fa fa-user"></i>
                  </div>
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                  </div>
                </fieldset>
                <fieldset class="form-group position-relative has-icon-left">
                  <input type="text" class="form-control input-lg" id="user-name" [(ngModel)]="user.email" name="email"
                    formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    placeholder="Email">
                  <div class="form-control-position" style="margin-top: -3px;">
                    <i class="fa fa-user"></i>
                  </div>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </fieldset>
                <fieldset class="form-group position-relative has-icon-left">
                  <input type="password" class="form-control input-lg" id="password" [(ngModel)]="user.password"
                    name="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Mật khẩu">
                  <div class="form-control-position" style="margin-top: -3px;">
                    <i class="fa fa-key"></i>
                  </div>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </fieldset>
                <fieldset class="form-group position-relative has-icon-left">
                  <input type="password" class="form-control input-lg" id="confirmPassword"
                    [(ngModel)]="user.confirmPassword" name="confirmPassword" formControlName="confirmPassword"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Nhập Lại Mật khẩu">
                  <div class="form-control-position" style="margin-top: -3px;">
                    <i class="fa fa-key"></i>
                  </div>
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </fieldset>
                <button type="submit" class="btn btn-info btn-block">Đăng ký</button>
              </form>
              <div *ngIf="error" class="alert alert-danger">
                <span>{{error}}</span>
              </div>
            </div>
          </div>
          <div class="card-footer pb-0">
            <p class="text-center"><a href="" class="card-link">Khôi phục mật khẩu</a></p>
            <p class="text-center">Đã có tài khoản của The News? <a href="" class="card-link"> Đăng nhập</a></p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>