<nav
  class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-dark bg-primary navbar-shadow navbar-brand-center">
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i
              class="ft-menu font-large-1"></i></a></li>
        <li class="nav-item">
          <a class="navbar-brand" style="padding: 5px 0px;">
            <img class="brand-logo" alt="the news logo"
              src="/assets/robust-admin/app-assets/images/logo/logo-light-sm.png">
            <h3 class="brand-text">The News</h3>
          </a>
        </li>
        <li class="nav-item d-md-none">
          <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i
              class="fa fa-ellipsis-v"></i></a>
        </li>
      </ul>
    </div>
    <div class="navbar-container">
      <div class="collapse navbar-collapse justify-content-end" id="navbar-mobile">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a class="nav-link mr-2 nav-link-label"></a></li>
          <li class="dropdown nav-item">
            <a class="nav-link mr-2 nav-link-label" data-toggle="dropdown"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="app-content container center-layout mt-2" style="margin-top: 7.25rem !important; min-height: 725px">
  <div class="content-wrapper" style="min-height: 725px">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-md-4 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 m-0">
              <div class="card-header border-0">
                <div class="card-title text-center">
                  <img class="brand-logo" alt="the news logo"
                    src="/assets/robust-admin/app-assets/images/logo/logo-dark-sm.png">
                  <h3 class="brand-text">The News</h3>
                </div>
                <p class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                  <span>Đăng nhập với tài khoản</span>
                </p>
              </div>
              <div class="card-content">
                <div class="text-center">
                  <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook">
                    <span class="fab fa-facebook"></span>
                  </a>
                  <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-google">
                    <span class="fab fa-google-plus-square"></span>
                  </a>
                </div>
                <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-2">
                  <span>Hoặc sử dụng tài khoản đã đăng ký</span>
                </p>
                <div class="card-body pt-0">
                  <form class="form-horizontal" method="POST" (ngSubmit)="login()" [formGroup]="loginForm"
                    action="login()">
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="text" class="form-control input-lg" id="user-name" [(ngModel)]="guest.email"
                        formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                        placeholder="Email">
                      <div class="form-control-position" style="margin-top: -3px;">
                        <i class="fa fa-user"></i>
                      </div>
                      <div *ngIf="(f.email.touched || submitted) && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                    </fieldset>
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="password" class="form-control input-lg" id="user-password"
                        [(ngModel)]="guest.password" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Mật khẩu">
                      <div class="form-control-position" style="margin-top: -3px;">
                        <i class="fa fa-key"></i>
                      </div>
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                    </fieldset>
                    <button type="submit" class="btn btn-info btn-lg btn-block"><i class="ft-unlock"></i>Đăng
                      nhập</button>
                  </form>
                  <div *ngIf="error" class="alert alert-danger">
                    <span>{{error}}</span>
                  </div>

                </div>
                <div class="card-body pb-0">
                  <p class="text-center"><a href="" class="card-link">Khôi phục mật khẩu</a></p>
                  <p class="text-center">Là thành viên mới của The News? <a href="/register" class="card-link"> Tạo tài
                      khoản</a></p>                      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>