<app-header></app-header>
<app-cat-menu></app-cat-menu>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body">
      <div id="user-profile">
        <div class="row">
          <div class="col-12">
            <div class="card profile-with-cover">
              <div class="media profile-cover-details w-100" style="display: flex;">
                <div class="media-left pl-2 pt-2">
                  <a class="profile-image"> <img class="rounded-circle img-border height-100" [src]="selectedImg" alt="Card image">
                  </a>
                </div>
                <div class="media-body pt-3 px-2">
                  <div class="row">
                    <div class="col">
                      <h3 class="card-title"> {{user.firstName}} {{user.lastName}}</h3>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="navbar navbar-light navbar-profile align-self-end">
                <button class="navbar-toggler d-sm-none" type="button" data-toggle="collapse" aria-expanded="false"
                  aria-label="Toggle navigation"></button>
              </nav>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="tab-content px-1 pt-1"></div>
              <div class="tab-pane" id="link32" role="tabpanel" aria-labelledby="link-tab32" aria-expanded="false">
                <!-- Profile -->
                <form class="form" id="frmUser" (ngSubmit) = "doiMatKhau()"  action="" method="POST" enctype="multipart/form-data">
                  <div class="form-body">
                    <h4 class="form-section">
                      <a id="models-tab" class="nav-link active"><i class="fas fa-key"></i>Đổi mật khẩu</a>
                    </h4>
                    <div class="row">
                      <div class="form-group col-md-4 mb-2">
                        <label for="projectinput1">Mật khẩu cũ</label>
                        <div class="position-relative has-icon-left">
                          <input type="password" id="oldPassword" [(ngModel)]="oldPassword" name = "oldPassword" class="form-control" placeholder="Mật khẩu cũ" 
                            value="" >
                          <div class="form-control-position" style="margin-top: -4px;">
                            <i class="fas fa-key"></i>
                          </div>                          
                        </div>
                      </div>
                      <div class="form-group col-md-4 mb-2">
                        <label for="projectinput2">Mật khẩu mới</label>
                        <div class="position-relative has-icon-left">
                          <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword"  class="form-control" 
                          placeholder="Mật khẩu mới" value="" >
                          <div class="form-control-position" style="margin-top: -4px;">
                            <i class="fas fa-key"></i>
                          </div>                        
                        </div>
                      </div>
                      <div class="form-group col-md-4 mb-2">
                        <label for="projectinput3">Nhập lại mật khẩu mới</label>
                        <div class="position-relative has-icon-left">
                          <input type="password" id="conFirmNewPassword" [(ngModel)]="conFirmNewPassword" name = "conFirmNewPassword" 
                          class="form-control" placeholder="Mật khẩu mới" value="">
                          <div class="form-control-position" style="margin-top: -4px;">
                            <i class="fas fa-key"></i>
                          </div>                          
                        </div>
                      </div>
                    </div>

                  </div>
                  <div *ngIf="error" class="alert alert-danger">
                    <span>{{error}}</span>
                  </div>
                  <div class="form-actions top" style="float: right;">                
                   
                    <button type="submit" class="btn btn-primary">
                      <i class="far fa-check-square" style="margin-right: 5px;"></i>Lưu
                    </button>
                  </div>
                  
                </form>
                <!-- End Profile -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>